$fontColor: #918266;
$fontHoverColor: #E4DAC7;


@font-face {
  font-family: 'EBGaramond-Regular';
  src: url(~/assets/fonts/21128866111.tff);
}


@font-face {
  font-family: 'EBGaramond-Italics';
  src: url(~/assets/fonts/23779851888.tff);
}

@font-face {
  font-family: 'EBGaramond-Bold';
  src: url(~/assets/fonts/23857937022.tff);
}

@font-face {
  font-family: 'Germania-One';
  src: url(~/assets/fonts/GermaniaOne-Regular.tff);
}



@font-face {
  font-family: 'DomaineDisplayNarrow-Regular';
  src: url(~/assets/fonts/DomaineDisplayNarrow-Regular.otf);
  font-style: italic;
}

@font-face {
  font-family: 'DomaineDisplayNarrow-RegularItalic';
  src: url(~/assets/fonts/DomaineDisplayNarrow-RegularItalic.otf);
  font-style: italic;
}

@font-face {
  font-family: 'DomaineDisplayNarrow-MediumItalic';
  src: url(~/assets/fonts/DomaineDisplayNarrow-MediumItalic.otf);
  font-style: italic;
}

@font-face {
  font-family: 'DomaineDisplay';
  src: url(~/assets/fonts/DomaineDisplay-Semibold.otf);
}

@font-face {
  font-family: 'DomaineDisplayBold';
  src: url(~/assets/fonts/DomaineDisplay-Bold.otf);
}

@font-face {
  font-family: 'Turis';
  src: url(~/assets/fonts/Turis-Regular.otf);
}

@font-face {
  font-family: 'TurisBold';
  src: url(~/assets/fonts/Turis-SemiBold.otf);
}

@font-face {
  font-family: 'TurisLight';
  src: url(~/assets/fonts/Turis-Light.otf);
}